# dependencies
**/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
**/dist
**/build
**/prisma/*.db*
**/prisma/graphql/generated/
**/schema.gql
**/.eslintcache
**/.env
**/__generated__
**/*.mp4
**/*.txt
**/*.log
**/*.git/